/*
Magnesium MVB Regular
font-family: magnesium-mvb, sans-serif;
font-weight: 400;
font-style: normal;


Magnesium MVB Condensed
font-family: magnesium-mvb-condensed, sans-serif;
font-weight: 400;
font-style: normal;

Bookmania Bold Italic
font-family: bookmania, serif;
font-weight: 700;
font-style: italic;

Bookmania Bold
font-family: bookmania, serif;
font-weight: 700;
font-style: normal;


Bookmania Regular Italic
font-family: bookmania, serif;
font-weight: 400;
font-style: italic;

Bookmania Regular
font-family: bookmania, serif;
font-weight: 400;
font-style: normal;
*/

//
// BASE FONT: Bookmania (Typekit)
//
@mixin base-font {
	font-family: $base-font;
	font-weight: 400;
	font-style: normal;
	font-feature-settings: "lnum";
}
@mixin base-font-italic {
	font-family: $base-font;
	font-weight: 400; 
	font-style: italic;
	font-feature-settings: "lnum";
}
@mixin base-font-bold {
	font-family: $base-font;
	font-weight: 700; 
	font-style: normal;
	font-feature-settings: "lnum";
}
@mixin base-font-bold-italic {
	font-family: $base-font;
	font-weight: 700; 
	font-style: italic;
	font-feature-settings: "lnum";
}

//
// FONT HEADING: Bookmania (Typekit)
//
@mixin font-heading {
	font-family: "magnesium-mvb", $font-stack-helvetica;
	font-weight: 400;
	font-style: normal;
	font-feature-settings: "lnum";
}
@mixin font-heading-condensed {
	font-family: "magnesium-mvb-condensed", $font-stack-helvetica;
	font-weight: 400; 
	font-style: italic;
	font-feature-settings: "lnum";
}




body {
	@include base-font;
	background-color: $color-body-bg;
	font-feature-settings: "liga", "kern";
	overflow-x: hidden;
	color: $color-body-text;
	
	@include respond-below(sm) {
		font-size: 1rem;
	}
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
	@include font-heading;
}

h1, .h1 {
	@include respond-above(sm) {
		font-size: 56px;
	}
	@include respond-below(sm) {
		font-size: 36px;
	}
}
h2, .h2 {
	@include respond-above(sm) {
		font-size: 48px;
	}
	@include respond-below(sm) {
		font-size: 28px;
	}
}
h3, .h3 {
	@include respond-above(sm) {
		font-size: 28px;
	}
	@include respond-below(sm) {
		font-size: 20px;
	}
}
h4, .h4 {
	@include respond-above(sm) {
		font-size: 24px;
	}
	@include respond-below(sm) {
		font-size: 18px;
	}
}


strong, em {
	@include base-font-bold;
}