
// COLORS
$color-silver:       #efefef;
$color-gray:         #aaa;
$color-gray-light:   #ddd;
$color-gray-dark:    #333;

$color-pewter:       #8EA3BF;
$color-midnight:     #011526;
$color-navy:         #022340;
$color-blue:         #6085A6;

$color-peach:        #e4ae94;
$color-green:        #7f9e8f;
$color-green-light:  #c9e0d4;
$color-pink:         #ba86ad;

$color-block-border: #ccc;
$color-black:        #000;
$color-white:        #fff;
$color-body-bg:      $color-green;
$color-body-text:    $color-gray-dark;

// FONTS
$font-stack-helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-stack-arial-narrow: "Arial Narrow", Arial, sans-serif;
$font-stack-georgia: Georgia, Times, 'Times New Roman', serif;

$base-font: "bookmania", $font-stack-georgia;
$font-heading: "magnesium-mvb", $font-stack-helvetica;

// boostrap overrides
$font-size-base:              20px;
$font-family-base:            $base-font;
$body-color:                  $color-body-text;
$link-color:                  $color-blue;
$link-hover-color:            $color-pewter;

// typography
$headings-color:              $body-color;
$headings-font-weight:        400;

$h1-font-size:                $font-size-base * 2.5;  //50px;
$h2-font-size:                $font-size-base * 2;  //40px;
$h3-font-size:                $font-size-base * 1.5;  //30px;
$h4-font-size:                $font-size-base * 1.22; //22px
$h5-font-size:                $font-size-base;



// PROJECT GLOBALS
$topbar-height-desktop: 80px;
$topbar-height-mobile: 60px;

$banner-height-desktop: 600px;
$banner-height-mobile: 200px;

$logo-bar-height: 81px;

$navbar-height-desktop: 80px;

$play-icon-size: 70px;

$gutter: $grid-gutter-width;

$carousel-pagination-size: 60px;