{% if entry.pageBodyBlocks | length %}

{# Preparation for the eager-loaded Neo field #}
{% for block in entry.pageBodyBlocks.all() %}
	{% do block.useMemoized(entry.pageBodyBlocks) %}
{% endfor %}

{# LOOP THROUGH NEO BLOCKS #}
{% for block in entry.pageBodyBlocks.all() if block.level == 1 %}
{# {% cache for 1 week %} #}
<!-- {{ block.id }}: {{ block.type }} -->
{% spaceless %}
{# = = = = = = = = = BLOCK STYLES = = = = = = = = = = = #}
{% set blockStyleClasses = [] %}

{% if block.backgroundColor is defined and block.backgroundColor != 'none' %}
	{% set blockStyleClasses = blockStyleClasses|merge(['c-general--' ~ block.backgroundColor]) %}
{% endif %}

{% if block.paddingTop is defined and block.paddingTop != '1' %}
	{% set blockStyleClasses = blockStyleClasses|merge(['c-general--no-padding-top']) %}
{% endif %}

{% if block.paddingBottom is defined and block.paddingBottom != '1' %}
	{% set blockStyleClasses = blockStyleClasses|merge(['c-general--no-padding-bottom']) %}
{% endif %}
{#
{% if block.paddingHalfTop is defined and block.paddingHalfTop == '1' %}
	{% set blockStyleClasses = blockStyleClasses|merge(['c-general--half-padding-top']) %}
{% endif %}

{% if block.paddingHalfBottom is defined and block.paddingHalfBottom == '1' %}
	{% set blockStyleClasses = blockStyleClasses|merge(['c-general--half-padding-bottom']) %}
{% endif %}

{% if block.paddingSides is defined and block.paddingSides == '1' %}
	{% set blockStyleClasses = blockStyleClasses|merge(['c-general--guttered']) %}
{% endif %}
#}
{% if block.backgroundPhoto is defined and block.backgroundPhoto | length %}
	{% if block.backgroundImageAnchor is defined %}
		{% set backgroundPhoto %} style="background-image:url('{{ block.backgroundPhoto.one.url('responsiveLarge') }}');background-position:{{ block.backgroundImageAnchor }};background-repeat:no-repeat;background-size:cover;"{% endset %}
	{% else %}
		{% set backgroundPhoto %} style="background-image:url('{{ block.backgroundPhoto.one.url('responsiveLarge') }}');background-position:center centerbackground-repeat:no-repeat;background-size:cover;"{% endset %}
	{% endif %}
{% else %}
	{% set backgroundPhoto = '' %}
{% endif %}

{% endspaceless %}
{# -------------- GENERAL BLOCK --------------- #}
{% if block.type == 'general' %}
<section class="c-general {{ blockStyleClasses | join(' ') }}"{{ backgroundPhoto }}>
	<div class="container">
		{% include '_fields/_section-heading.html' with {'block': block} %}
		
		<div class="row">
			<div class="col-12{% if block.paddingSides == '1' %} col-md-8 offset-md-2{% endif %} text-{{ block.textAlignment }}">
				{% include '_fields/heading.html' with {'heading': block.heading} %}
				<div class="wysiwyg">
				{% include '_fields/figure.html' with {'figure': block.figure} %}
				{{ block.description }}
				</div>
				{% if block.button | length %}
				<p class="mt-3">{% include '_fields/button.html' with {'button': block.button} %}</p>
				{% endif %}
			</div>
		</div>
	</div>
</section>



{# -------------- SECTION HEADING --------------- #}
{% elseif block.type == 'sectionHeading' %}
<section class="c-general {{ blockStyleClasses | join(' ') }}"{{ backgroundPhoto }}>
	<div class="container">
		<h2 class="u-section-heading mb-0">
			{% if block.caption != '' %}<small>{{ block.caption }}</small>{% endif %}
			{{ block.headingBasic | raw }}
		</h2>
	</div>
</section>



{# -------------- DEFINITION BLOCK --------------- #}
{% elseif block.type == 'definitionBlock' %}
<section class="c-general {{ blockStyleClasses | join(' ') }}"{{ backgroundPhoto }}>
	<div class="container">
		{% include '_fields/_section-heading.html' with {'block': block} %}
		
		<div class="row">
			<div class="col-12 col-md-5">
				<div class="c-definition__term">
					<div>{{ block.quote }}</div>
				</div>
			</div>
			
			<div class="col-12 col-md-7">
				<div class="c-definition__description">
					{{ block.description }}
					{% if block.button | length %}
					<p>{% include '_fields/button.html' with {'button': block.button} %}</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>



{# -------------- ICON+TEXT BLOCK --------------- #}
{% elseif block.type == 'iconTextBlock' %}
{% if block.image | length %}
	{% set img    = block.image.one %}
	{% set imgSrc = img.url %}
	{% set imgAlt = img.imageAlt ?: img.title %}
{% else %}
	{% set imgSrc = '/assets/uploads/photos/icon-magnifier.png' %}
	{% set imgAlt = 'magnifier' %}
{% endif %}
<section class="c-img-text c-general {{ blockStyleClasses | join(' ') }}"{{ backgroundPhoto }}>
	<div class="container">
		{% include '_fields/_section-heading.html' with {'block': block} %}
		
		<div class="row">
			<div class="col-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2">
				<div class="row align-items-center">
					<div class="c-img-text__img col-3 {% if block.imagePositionLR == 'right' %}order-sm-2 {% endif %}text-center">
						<p>
							<img class="img-fluid" src="{{ imgSrc }}" alt="{{ imgAlt }}" />
						</p>
					</div>
					
					<div class="c-img-text__description col-9{% if block.imagePositionLR == 'right' %} order-sm-1{% endif %}">
						{{ block.description }}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



{# -------------- PROJECT PANEL --------------- #}
{% elseif block.type == 'projectPanel' %}
{% if block.image | length %}
	{% set img    = block.image.one %}
	{% set imgSrc = img.url('responsiveMedium') %}
	{% set imgAlt = img.imageAlt ?: img.title %}
{% else %}
	{% set imgSrc = 'https://via.placeholder.com/800x500?text=placeholder' %}
	{% set imgAlt = 'placeholder' %}
{% endif %}
<section class="c-img-text c-general {{ blockStyleClasses | join(' ') }}"{{ backgroundPhoto }}>
	<div class="container">
		<div class="row align-items-center">
			<div class="c-img-text__img col-12 col-sm-5{% if block.imagePositionLR == 'right' %} offset-sm-1 order-sm-2{% endif %}">
				<p>
					<img class="img-fluid" src="{{ imgSrc }}" alt="{{ imgAlt }}" />
				</p>
			</div>
			
			<div class="c-img-text__description col-12 col-sm-6{% if block.imagePositionLR == 'right' %} order-sm-1{% else %} offset-sm-1{% endif %}">
				{% if block.headingBasic != '' %}<h3>{{ block.headingBasic | raw }}</h3>{% endif %}
				{{ block.description }}
				{% if block.definitionList | length or block.projectButtons | length %}
				<dl>
					{% for row in block.definitionList %}
					<dt>{{ row.term }}</dt>
					<dd>{{ row.definition }}</dd>
					{% endfor %}
					{% if block.projectButtons | length %}
					<dt>
						{% for btn in block.projectButtons.all() %}
							{% if btn.type == 'image' %}
							<a href="{{ btn.image.one.url('responsiveLarge') }}" data-gallery="gallery-{{ block.id }}" class="btn btn-red btn-outline">{{ btn.label }}</a>
							{% elseif btn.type == 'download' %}
							<a href="{{ btn.download.one.url }}" class="btn btn-red btn-outline">{{ btn.label }}</a>
							{% elseif btn.type == 'customLink' %}
							<a href="{{ btn.customLink }}"{% if btn.newTab == '1' %} target="_blank" rel="noopener"{% endif %} class="btn btn-red btn-outline">{{ btn.label }}</a>
							{% elseif btn.type == 'video' %}
								{% set embeddedAsset = craft.embeddedAssets.get(btn.video.one) %}
								{% set videoId = embeddedAsset.getVideoId() %}
							<a href="#video-{{ videoId }}" class="btn btn-red btn-outline js-modal-{{ btn.provider }}" data-video-id="{{ videoId }}">{{ btn.label }}</a>
							{% endif %}
							{% if not loop.last %}&nbsp;{% endif %}
						{% endfor %}
					</dt>
					{% endif %}
				</dl>
				{% endif %}
			</div>
		</div>
	</div>
</section>



{# -------------- COLUMNS --------------- #}
{% elseif block.type == 'columns' %}
{% if block.children | length == '1' %}
	{% set columnWidth = '12' %}
{% elseif block.children | length == '2' %}
	{% set columnWidth = '6' %}
{% elseif block.children | length == '3' %}
	{% set columnWidth = '4' %}
{% endif %}
<section class="c-general {{ blockStyleClasses | join(' ') }}"{{ backgroundPhoto }}>
	<div class="container">
		{% include '_fields/_section-heading.html' with {'block': block} %}
		
		<div class="row">
			<div class="col-12{% if block.paddingSides == '1' %} col-md-8 offset-md-2{% endif %} text-{{ block.textAlignment }}">
				{% include '_fields/heading.html' with {'heading': block.heading} %}
				{% if block.description != '' %}<div class="wysiwyg">{{ block.description }}</div>{% endif %}
				{% if block.children | length %}
				<div class="row">
					{% for col in block.children.all() %}
					<div class="col-md-{{ columnWidth }} text-{{ col.textAlignment }}">
						{% if col.image | length %}
						<figure>
							{% set img = col.image.one() %}
							{% include '_fields/image.html' with {'img': img} %}
							{% if img.caption != '' %}
							<figcaption>{{ img.caption }}</figcaption>
							{% endif %}
						</figure>
						{% endif %}
						{% if col.headingBasic != '' %}<h3>{{ col.headingBasic | raw }}</h3>{% endif %}
						{% if col.description != '' %}<div class="wysiwyg">{{ col.description }}</div>{% endif %}
						{% if col.button | length %}
						<p>{% include '_fields/button.html' with {'button': col.button } %}</p>
						{% endif %}
					</div>
					{% endfor %}
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>



{# -------------- EMBED CODE --------------- #}
{% elseif block.type == 'embedCode' %}
<section class="c-general {{ blockStyleClasses | join(' ') }}"{{ backgroundPhoto }}>
	<div class="container">
		{% include '_fields/_section-heading.html' with {'block': block} %}
		
		<div class="row">
			<div class="col-12{% if block.paddingSides == '1' %} col-md-8 offset-md-2{% endif %}">
				<div class="js-fitvids">{{ block.embedCode | raw }}</div>
			</div>
		</div>
	</div>
</section>



{# -------------- IMAGE --------------- #}
{% elseif block.type == 'image' %}
<section class="c-general {{ blockStyleClasses | join(' ') }}"{{ backgroundPhoto }}>
	<div class="container">
		{% include '_fields/_section-heading.html' with {'block': block} %}
		
		<div class="row">
			<div class="col-12{% if block.paddingSides == '1' %} col-md-8 offset-md-2{% endif %}">
				<figure>
					{% if block.imageDesktop | length and block.imageMobile | length %}
						<div class="d-none d-md-block">
							{% set img = block.imageDesktop.one() %}
							{% include '_fields/image.html' with {'img': img } %}
							{% if img.caption != '' %}
							<figcaption>{{ img.caption }}</figcaption>
							{% endif %}
						</div>
						<div class="d-md-none">
							{% set img = block.imageMobile.one() %}
							{% include '_fields/image.html' with {'img': img } %}
							{% if img.caption != '' %}
							<figcaption>{{ img.caption }}</figcaption>
							{% endif %}
						</div>
					{% else %}
						{% set img = block.imageDesktop.one() %}
						{% include '_fields/image.html' with {'img': img } %}
						{% if img.caption != '' %}
						<figcaption>{{ img.caption }}</figcaption>
						{% endif %}
					{% endif %}
				</figure>
			</div>
		</div>
	</div>
</section>



{# -------------- IMAGE CAROUSEL --------------- #}
{% elseif block.type == 'imageCarousel' %}
<section class="c-general {{ blockStyleClasses | join(' ') }}"{{ backgroundPhoto }}>
	<div class="container">
		{% include '_fields/_section-heading.html' with {'block': block} %}
		
		<div class="row">
			<div class="col-12{% if block.paddingSides == '1' %} col-md-8 offset-md-2{% endif %}">
				{% include '_fields/heading.html' with {'heading': block.heading} %}
				
				<div id="carousel-{{ block.id }}" class="carousel--images">
					{% for img in block.images.all() %}
						{% set imgSrc = img.url('responsiveMedium') %}
						{% set imgAlt = img.imageAlt ?: img.title %}
					<img class="img-fluid" src="{{ imgSrc }}" alt="{{ imgAlt }}" />
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
{% js %}
jQuery(document).ready(function($) {
	$('#carousel-{{ block.id }}').slick({
		accessibility: true,
		arrows: true,
		dots: true,
		autoplay: true,
		autoplaySpeed: 4000,
		draggable: true
	});
});
{% endjs %}



{# -------------- TESTIMONIAL CAROUSEL --------------- #}
{% elseif block.type == 'testimonialCarousel' %}
<section class="c-general {{ blockStyleClasses | join(' ') }}"{{ backgroundPhoto }}>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2">
				{% include '_fields/heading.html' with {'heading': block.heading, 'class':'mb-5'} %}
				
				<div id="carousel-{{ block.id }}">
					{% for blockquote in block.children.all() %}
					<blockquote class="blockquote">
						{{ blockquote.quote }}
						{% if blockquote.citation != '' %}<footer class="blockquote-footer">{{ blockquote.citation | nl2br }}</footer>{% endif %}
					</blockquote>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
{% js %}
jQuery(document).ready(function($) {
	$('#carousel-{{ block.id }}').slick({
		accessibility: true,
		arrows: true,
		dots: true,
		autoplay: true,
		autoplaySpeed: 4000,
		draggable: true
	});
});
{% endjs %}



{# -------------- BLOCKQUOTE --------------- #}
{% elseif block.type == 'blockquote' %}
<section class="c-general {{ blockStyleClasses | join(' ') }}"{{ backgroundPhoto }}>
	<div class="container">
		{% include '_fields/_section-heading.html' with {'block': block} %}
		
		<div class="row">
			<div class="col-12{% if block.paddingSides == '1' %} col-md-8 offset-md-2{% endif %}">
				<blockquote class="blockquote text-{{ block.textAlignment }}">
					{{ block.quote }}
					{% if block.citation != '' %}<footer class="blockquote-footer text-{{ block.textAlignment }}">{{ block.citation }}</footer>{% endif %}
				</blockquote>
			</div>
		</div>
	</div>
</section>



{# -------------- LOGOS GRID --------------- #}
{% elseif block.type == 'logos' %}
{% if block.itemsPerRow == '2' %}
	{% set columnWidth = '6' %}
{% elseif block.itemsPerRow == '3' %}
	{% set columnWidth = '4' %}
{% elseif block.itemsPerRow == '4' %}
	{% set columnWidth = '3' %}
{% elseif block.itemsPerRow == '6' %}
	{% set columnWidth = '2' %}
{% endif %}
<section class="c-general {{ blockStyleClasses | join(' ') }}"{{ backgroundPhoto }}>
	<div class="container">
		{% include '_fields/_section-heading.html' with {'block': block} %}
		
		<div class="row">
			{% for logo in block.children.all() %}
				{% set img = logo.image.one %}
			<div class="col-6 col-md-{{ columnWidth }} d-flex align-items-center justify-content-center">
				{% if logo.imageLink | length %}
				<p><a href="{% include '_fields/image-link-href.html' with {'link': logo.imageLink} %}"><img class="img-fluid" src="{{ img.url }}" alt="{{ img.imageAlt ?: img.title }}" /></a></p>
				{% else %}
				<p><img class="img-fluid" src="{{ img.url }}" alt="{{ img.imageAlt ?: img.title }}" /></p>
				{% endif %}
			</div>
			{% endfor %}
		</div>
	</div>
</section>



{% endif %}
{# {% endcache %} #}
{% endfor %}
{% endif %}