<!-- GLOBAL FOOTER -->
<footer id="contact" class="c-footer">
	<div class="container c-footer__top">
		<!--
		<div class="row">
			<div class="col-12 text-center">
				<p><a href="#top" class="js-scroll-to-anchor"><img class="c-footer__branding" src="/assets/img/logo-white.svg" alt="Shoe Box Books logo" /></a></p>
				
				<p class="c-footer__social">
					<a href="https://www.facebook.com/ShoeBoxBooksATX/" class="c-footer__social-link" title="Shoe Box Books on Facebook" target="_blank" rel="noopener"><span class="fab fa-facebook-f" aria-hidden="true"></span></a>
					<a href="http://www.twitter.com/shoeboxbooks/" class="c-footer__social-link" title="Shoe Box Books on Facebook" target="_blank" rel="noopener"><span class="fab fa-twitter" aria-hidden="true"></span></a>
					<a href="http://www.linkedin.com/in/ginalynd/" class="c-footer__social-link" title="Shoe Box Books on LinkedIn" target="_blank" rel="noopener"><span class="fab fa-linkedin-in" aria-hidden="true"></span></a>
				</p>
			</div>
		</div>
		-->
		<div class="text-center">
			<p class="c-footer__copyright">
				&copy;2022 B Flat Dueling Pianos 
				<a href="mailto:info@mgroupagency.com">info@bbduelingpianos.com</a>
				<!--<a href="tel://512-632-1110">512-632-1110</a>-->
				<a href="https://mach1media.com" title="Small Business Websites by Mach 1 Media in Austin, Texas" target="_blank" rel="noopener">Website by Mach 1 Media</a>
			</p>
		</div>
	</div>
</footer>


<!-- Global Site JS -->
<script src="/assets/js/master.min.js?v=20220103.1" type="text/javascript" charset="utf-8"></script>