<!-- TOP BAR -->
<div class="c-topbar">
	<div class="container">
		<div class="row">
			<div class="col">
				<a href="index.html" class="c-topbar__branding">
					<img class="c-topbar__logo" src="/assets/img/logo-white.svg" alt="B Flat Dueling Pianos" />
				</a>
				
				<button class="hamburger hamburger--squeeze c-topbar__hamburger js-menu-toggle" type="button" id="hamburger-topbar" onclick="openHamburgerNav()" aria-label="open navigation menu" aria-expanded="false">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</button>
			</div>
		</div>
	</div>
</div>

<!-- NAVIGATION MENU -->
<nav id="menu" class="c-navigation">
	<div class="c-navigation__top">
		<div class="container">
			<div class="row">
				<div class="col">
					<a href="index.html" class="c-topbar__branding">
						<img class="c-topbar__logo" src="/assets/img/logo-white.svg" alt="B Flat Dueling Pianos" />
					</a>
					
					<button class="hamburger hamburger--squeeze c-navigation__hamburger js-menu-toggle" type="button" id="hamburger-navigation" onclick="closeHamburgerNav()" aria-label="close navigation menu" aria-expanded="false">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="c-navigation__inner">
		<div class="container">
			<div class="row">
				<div class="col">
					<ul class="c-navigation__menu d-flex flex-column justify-content-center align-items-center align-content-start">
						<li><a href="index.html" class="btn">Home</a></li>
						<li><a href="kitchen-sink.html" class="btn">Kitchen Sink</a></li>
						<!-- <li><a href="contact.html" class="btn">Contact</a></li> -->
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--
	<div class="c-navigation__bottom">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<ul class="list-inline">
						<li class="list-inline-item"><a href="https://www.facebook.com/ShoeBoxBooksATX/" class="c-navigation__social" title="Shoe Box Books on Facebook" target="_blank" rel="noopener"><span class="fab fa-facebook-f" aria-hidden="true"></span></a></li>
						<li class="list-inline-item"><a href="http://www.twitter.com/shoeboxbooks/" class="c-navigation__social" title="Shoe Box Books on Twitter" target="_blank" rel="noopener"><span class="fab fa-twitter" aria-hidden="true"></span></a></li>
						<li class="list-inline-item"><a href="http://www.linkedin.com/in/ginalynd" class="c-navigation__social" title="Shoe Box Books on LinkedIn" target="_blank" rel="noopener"><span class="fab fa-linkedin-in" aria-hidden="true"></span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	-->
</nav>
