<section class="c-general c-general--no-padding-bottom">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="u-section-heading u-section-heading--green">
					Work & Projects
				</h2>
				
				<p class="lead text-center">Bringing big ideas to life with humanity. Building remarkable brands with an authentic voice that connects with people. Creating joy and driving business.</p>
			</div>
		</div>
	</div>
</section>


<!-- WORK CATEGORY GROUPS AND FILTERS -->
<section class="c-general c-general--no-padding-top">
	<div id="work" class="container">
		<div class="row">
			<div class="col-12">
				<!-- category groups -->
				<ul class="nav nav-justified">
				  <li class="nav-item c-work__category-tab">
				    <a class="nav-link px-0" href="#industries" data-toggle="collapse" data-parent="#work" role="button" aria-expanded="false" aria-controls="industries"><span>By Industry</span></a>
				  </li>
				  
				  <li class="nav-item c-work__category-tab">
				    <a class="nav-link px-0" href="#categories" data-toggle="collapse" data-parent="#work" role="button" aria-expanded="false" aria-controls="categories"><span>By Category</span></a>
				  </li>
				  
				  <li class="nav-item c-work__category-tab">
				    <a class="nav-link px-0" href="#clients" data-toggle="collapse" data-parent="#work" role="button" aria-expanded="false" aria-controls="clients"><span>By Client</span></a>
				  </li>
				</ul>
			</div>
		</div>
		
		
		<!-- Industries -->
		<div id="industries" class="collapse">
			<div class="row">
				<div class="col-12 col-md-10 offset-md-1">
					<ul class="list-unstyled row">
						<li class="col-6 col-sm-4 c-work__category-tab">
							<a class="js-toggle-category" data-industry="food-beverage" href="work-category.html"><span>Food & Beverage</span></a>
						</li>
						<li class="col-6 col-sm-4 c-work__category-tab">
							<a class="js-toggle-category" data-industry="health-wellness" href="work-category.html"><span>Health & Wellness</span></a>
						</li>
						<li class="col-6 col-sm-4 c-work__category-tab">
							<a class="js-toggle-category" data-industry="lifestyle" href="work-category.html"><span>Lifestyle</span></a>
						</li>
						<li class="col-6 col-sm-4 c-work__category-tab">
							<a class="js-toggle-category" data-industry="beer-spirits" href="work-category.html"><span>Beer & Spirits</span></a>
						</li>
						<li class="col-6 col-sm-4 c-work__category-tab">
							<a class="js-toggle-category" data-industry="hospitality" href="work-category.html"><span>Hospitality</span></a>
						</li>
						<li class="col-6 col-sm-4 c-work__category-tab">
							<a class="js-toggle-category" data-industry="all" href="work-category.html"><span>All</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<!-- Categories -->
		<div id="categories" class="collapse">
			<div class="row">
				<div class="col-12 col-md-10 offset-md-1">
					<ul class="list-unstyled row">
						<li class="col-6 col-sm-4 c-work__category-tab">
							<a class="js-toggle-category" data-category="branding" href="work-category.html"><span>Branding</span></a>
						</li>
						<li class="col-6 col-sm-4 c-work__category-tab">
							<a class="js-toggle-category" data-category="packaging" href="work-category.html"><span>Packaging</span></a>
						</li>
						<li class="col-6 col-sm-4 c-work__category-tab">
							<a class="js-toggle-category" data-category="naming" href="work-category.html"><span>Naming</span></a>
						</li>
						<li class="col-6 col-sm-4 c-work__category-tab">
							<a class="js-toggle-category" data-category="rebranding" href="work-category.html"><span>Rebranding</span></a>
						</li>
						<li class="col-6 col-sm-4 c-work__category-tab">
							<a class="js-toggle-category" data-category="website" href="work-category.html"><span>Website</span></a>
						</li>
						<li class="col-6 col-sm-4 c-work__category-tab">
							<a class="js-toggle-category" data-category="all" href="work-category.html"><span>All</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
				
		<!-- Clients -->
		<div id="clients" class="collapse">
			<div class="row">
				<div class="col-12">
					<ul class="c-work__clients">
						<li>
							<a class="js-toggle-category" data-client="client-one" href="work-category.html">
								<img src="https://via.placeholder.com/400?text=logo" alt="client name" />
							</a>
						</li>
						
						<li>
							<a class="js-toggle-category" data-client="client-one" href="work-category.html">
								<img src="https://via.placeholder.com/400x200?text=logo" alt="client name" />
							</a>
						</li>
						
						<li>
							<a class="js-toggle-category" data-client="client-one" href="work-category.html">
								<img src="https://via.placeholder.com/400x300?text=logo" alt="client name" />
							</a>
						</li>
						
						<li>
							<a class="js-toggle-category" data-client="client-one" href="work-category.html">
								<img src="https://via.placeholder.com/400?text=logo" alt="client name" />
							</a>
						</li>
						
						<li>
							<a class="js-toggle-category" data-client="client-one" href="work-category.html">
								<img src="https://via.placeholder.com/400x200?text=logo" alt="client name" />
							</a>
						</li>
						
						<li>
							<a class="js-toggle-category" data-client="client-one" href="work-category.html">
								<img src="https://via.placeholder.com/400x300?text=logo" alt="client name" />
							</a>
						</li>
						
						<li>
							<a class="js-toggle-category" data-client="client-one" href="work-category.html">
								<img src="https://via.placeholder.com/400?text=logo" alt="client name" />
							</a>
						</li>
						
						<li>
							<a class="js-toggle-category" data-client="client-one" href="work-category.html">
								<img src="https://via.placeholder.com/400x200?text=logo" alt="client name" />
							</a>
						</li>
						
						<li>
							<a class="js-toggle-category" data-client="client-one" href="work-category.html">
								<img src="https://via.placeholder.com/400x300?text=logo" alt="client name" />
							</a>
						</li>
						
						<li>
							<a class="js-toggle-category" data-client="client-one" href="work-category.html">
								<img src="https://via.placeholder.com/400?text=logo" alt="client name" />
							</a>
						</li>
						
						<li>
							<a class="js-toggle-category" data-client="client-one" href="work-category.html">
								<img src="https://via.placeholder.com/400x200?text=logo" alt="client name" />
							</a>
						</li>
						
						<li>
							<a class="js-toggle-category" data-client="client-one" href="work-category.html">
								<img src="https://via.placeholder.com/400x300?text=logo" alt="client name" />
							</a>
						</li>
						
						<li>
							<a class="js-toggle-category" data-client="client-one" href="work-category.html">
								<img src="https://via.placeholder.com/400?text=logo" alt="client name" />
							</a>
						</li>
						
						<li>
							<a class="js-toggle-category" data-client="client-one" href="work-category.html">
								<img src="https://via.placeholder.com/400x200?text=logo" alt="client name" />
							</a>
						</li>
						
						<li>
							<a class="js-toggle-category" data-client="client-one" href="work-category.html">
								<img src="https://via.placeholder.com/400x300?text=logo" alt="client name" />
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>