@@include('_document-head.html')
<body class="is-top">
@@include('_masthead.html')

<main class="c-main">

<!-- HOME HERO CAROUSEL 
<header class="c-hero">
	<div id="js-hero-carousel" class="c-hero__carousel">
		<div class="c-hero__carousel-slide" style="background:url('/assets/uploads/images/israel-palacio-Y20JJ_ddy9M-unsplash.jpg') center center no-repeat;background-size:cover;"></div>
		<div class="c-hero__carousel-slide" style="background:url('/assets/uploads/images/john-matychuk-gUK3lA3K7Yo-unsplash.jpg') center center no-repeat;background-size:cover;"></div>
		<div class="c-hero__carousel-slide" style="background:url('/assets/uploads/images/magnus-lunay-LHR6tUw8N34-unsplash.jpg') center center no-repeat;background-size:cover;"></div>
	</div>
	
	<div class="container c-hero__description">
		<div class="row d-flex align-items-end">
			<div class="col">
				<h1 class="c-hero__heading">Hero Carousel</h1>
			</div>
		</div>
	</div>
</header>
-->


<!-- LEAD BLOCK -->
<section class="c-general c-general--silver">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 c-lead">
				<h2>Lead Block</h2>
				<p>Bb Dueling Pianos is an immersive piano bar experience! We pride ourselves at providing an excellent show and quality entertainment!</p>
				<!--
				<p>
					<a href="#" class="btn btn-blue">Blue Button</a>
				</p>
				-->
			</div>
		</div>
	</div>
</section>



<!-- HEADSHOT QUOTE: RIGHT -->
<section id="about" class="c-general c-blockquote c-blockquote--blue">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-6 col-md-7 c-blockquote__description">
				<h2 class="mb-3">Headshot Quote Block</h2>
				<p>Brian Boyce has been in the piano bar scene for nearly a decade and has traveled all over the state of Texas to play shows and events and has also traveled to Louisiana, Arkansas, and Oklahoma!</p>
				<p>With a Bachelors of Fine Arts in Musical Theatre from the University of Texas Arlington, he has used his love of music and performance to make a career. He has been a full time musician playing since he was 19 years old and has performed in a wide spectrum of venues, including leading worship at his home church in Austin, performing at Six Flags over Texas in Arlington, leading and working with several wedding bands, and of course, working with multiple piano bar companies. </p>
				<p>While he has worked in such a wide variety of venues including 10 years in piano bars, Brian has used his training to develop a wide repertoire to play a vast pool of song requests!</p>
			</div>
			
			<div class="col-12 offset-sm-1 col-sm-5 col-md-4 c-blockquote__quote">
				<div class="c-blockquote__photo">
					<img src="https://via.placeholder.com/400?text=Headshot" alt="" />
				</div>
				
				<blockquote>
					<p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porta massa vitae viverra ultrices. Morbi ac risus vel orci interdum viverra quis id eros.&rdquo;</p>
					<cite>Brian Boyce, Owner</cite>
				</blockquote>
			</div>
		</div>
	</div>
</section>



<!-- FEATURE BLOCK: IMG LEFT -->
<section id="personal" class="c-general c-general--silver c-general--no-padding-bottom">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-12 col-sm-5">
				<p>
					<img class="img-fluid" src="/assets/uploads/images/israel-palacio-Y20JJ_ddy9M-unsplash.jpg" alt="" />
				</p>
			</div>
			
			<div class="col-12 col-sm-6 offset-sm-1">
				<h2 class="mb-3">Image+Text Block</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porta massa vitae viverra ultrices. Morbi ac risus vel orci interdum viverra quis id eros. Mauris mauris mi, dictum sed est eu, consequat interdum lorem. Mauris vestibulum, nisi a elementum laoreet, enim quam cursus mi, quis lacinia diam ligula ut leo. Sed quam enim, hendrerit ut sem quis, semper pharetra odio. Nunc vel pellentesque velit, vitae lacinia lacus. Duis fermentum non sapien vitae iaculis.</p>
			</div>
		</div>
	</div>
</section>



<!-- FEATURE BLOCK: IMG LEFT -->
<section id="personal" class="c-general c-general--silver">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-12 col-sm-5 order-2 offset-sm-1">
				<p>
					<img class="img-fluid" src="/assets/uploads/images/israel-palacio-Y20JJ_ddy9M-unsplash.jpg" alt="" />
				</p>
			</div>
			
			<div class="col-12 col-sm-6 order-1">
				<h2 class="mb-3">Image+Text Block</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porta massa vitae viverra ultrices. Morbi ac risus vel orci interdum viverra quis id eros. Mauris mauris mi, dictum sed est eu, consequat interdum lorem. Mauris vestibulum, nisi a elementum laoreet, enim quam cursus mi, quis lacinia diam ligula ut leo. Sed quam enim, hendrerit ut sem quis, semper pharetra odio. Nunc vel pellentesque velit, vitae lacinia lacus. Duis fermentum non sapien vitae iaculis.</p>
			</div>
		</div>
	</div>
</section>



<!-- HEADING BLOCK -->
<section class="c-general">
	<div class="container">
		<h2 class="u-section-heading mb-0">
			<small>Section Pre-Heading</small>
			Section Heading
		</h2>
	</div>
</section>



<!-- GENERAL BLOCK: PADDING SIDES -->
<section class="c-general c-general--midnight">
	<div class="container">
		<!--
		<h2 class="u-section-heading">
			<small>Section Pre-Heading</small>
			Section Heading
		</h2>
		-->
		<div class="row">
			<div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
				<h2>General Block With Side Padding</h2>
				<p>Pellentesque vulputate porttitor tellus, venenatis varius dolor sodales fringilla. Quisque vestibulum ligula fermentum ex pulvinar euismod non eget dolor. Suspendisse potenti. Nullam et lacinia dolor. Praesent nec imperdiet turpis, a auctor nunc. Quisque tincidunt vulputate lacus non vehicula. Vestibulum euismod ligula at nisi bibendum pretium. Duis varius luctus quam non efficitur. Etiam maximus mauris urna, ac bibendum nunc interdum a. Nullam convallis sapien et libero accumsan, non vehicula felis dapibus.</p>
			</div>
		</div>
	</div>
</section>



<!-- GENERAL BLOCK: PADDING SIDES -->
<section class="c-general">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2>General Block Full Width</h2>
				
				<figure class="c-figure c-figure--right">
					<img class="img-fluid" src="https://via.placeholder.com/800x500?text=figure" alt="logo" />
					<figcaption>Optional image and caption</figcaption>
				</figure>
				
				<p>Nunc elementum pellentesque mollis. Integer placerat, odio non suscipit feugiat, sapien eros egestas nulla, sit amet placerat nunc ligula eget felis. Suspendisse euismod iaculis ornare. Cras lectus arcu, rutrum bibendum sollicitudin tincidunt, fermentum et purus. Curabitur est risus, ultrices at nibh sed, sodales condimentum ante. Cras finibus dolor erat, vitae hendrerit lectus interdum eu. Pellentesque condimentum fermentum ex, at scelerisque urna suscipit sed.</p>
				
				<p>Fusce placerat sem quis erat rhoncus, a pretium lacus mattis. Phasellus ac eleifend ante, id bibendum velit. Integer pellentesque viverra rutrum. Aliquam eleifend in diam ac commodo. Mauris ornare justo sem, vel interdum nibh mollis in. In nunc arcu, hendrerit convallis pretium ut, egestas a leo. Duis vel lacinia eros.</p>
			</div>
		</div>
	</div>
</section>



<!-- GENERAL BLOCK: PADDING SIDES -->
<section class="c-general c-general--blue">
	<div class="container">
		<h2 class="u-section-heading">
			Contact Us
		</h2>
		
		<div class="row">
			<div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-center">
				<p>
					<a href="mailto:info@bbduelingpianos.com" class="btn btn-white btn-outline">info@bbduelingpianos.com</a>
				</p>
			</div>
		</div>
	</div>
</section>


<!-- CLIENT LOGOS -->
<section class="c-general">
	<div class="container">
		<h2 class="text-center mb-3">Clients Logos</h2>
		
		<div class="row">
			<div class="col-6 col-md-3 d-flex align-items-center justify-content-center">
				<p><a href="#"><img class="img-fluid" src="https://via.placeholder.com/400?text=logo" alt="logo" /></a></p>
			</div>
			<div class="col-6 col-md-3 d-flex align-items-center justify-content-center">
				<p><a href="#"><img class="img-fluid" src="https://via.placeholder.com/400x200?text=logo" alt="logo" /></a></p>
			</div>
			<div class="col-6 col-md-3 d-flex align-items-center justify-content-center">
				<p><a href="#"><img class="img-fluid" src="https://via.placeholder.com/400x300?text=logo" alt="logo" /></a></p>
			</div>
			<div class="col-6 col-md-3 d-flex align-items-center justify-content-center">
				<p><a href="#"><img class="img-fluid" src="https://via.placeholder.com/400?text=logo" alt="logo" /></a></p>
			</div>
		</div>
	</div>
</section>



<!-- COLUMNS -->
<section class="c-general c-general--silver">
	<div class="container">
		<h2 class="text-center mb-5">Example Columns</h2>
		
		<div class="row">
			<div class="col-12 col-md-4 text-center">
				<p><img class="img-fluid" src="/assets/uploads/images/john-matychuk-gUK3lA3K7Yo-unsplash.jpg" alt="placeholder" /></p>
				<h3>Column Heading</h3>
				<p>Pellentesque vulputate porttitor tellus, venenatis varius dolor sodales fringilla. Quisque vestibulum ligula fermentum ex pulvinar euismod non eget dolor. Suspendisse potenti.</p>
				<p><a href="#" class="btn btn-navy">Navy Button</a></p>
			</div>
			
			<div class="col-12 col-md-4 text-center">
				<p><img class="img-fluid" src="/assets/uploads/images/john-matychuk-gUK3lA3K7Yo-unsplash.jpg" alt="placeholder" /></p>
				<h3>Column Heading</h3>
				<p>Pellentesque vulputate porttitor tellus, venenatis varius dolor sodales fringilla. Quisque vestibulum ligula fermentum ex pulvinar euismod non eget dolor. Suspendisse potenti.</p>
				<p><a href="#" class="btn btn-blue">Blue Button</a></p>
			</div>
			
			<div class="col-12 col-md-4 text-center">
				<p><img class="img-fluid" src="/assets/uploads/images/john-matychuk-gUK3lA3K7Yo-unsplash.jpg" alt="placeholder" /></p>
				<h3>Column Heading</h3>
				<p>Pellentesque vulputate porttitor tellus, venenatis varius dolor sodales fringilla. Quisque vestibulum ligula fermentum ex pulvinar euismod non eget dolor. Suspendisse potenti.</p>
				<p><a href="#" class="btn btn-pewter">Pewter Button</a></p>
			</div>
		</div>
	</div>
</section>


<!-- COLUMNS -->
<section class="c-general c-general--pewter">
	<div class="container">
		<h2 class="text-center mb-5">Example Columns</h2>
		
		<div class="row">
			<div class="col-12 col-lg-5 offset-lg-1">
				<p><img class="img-fluid" src="/assets/uploads/images/john-matychuk-gUK3lA3K7Yo-unsplash.jpg" alt="placeholder" /></p>
				<h3>Column Heading</h3>
				<p>Pellentesque vulputate porttitor tellus, venenatis varius dolor sodales fringilla. Quisque vestibulum ligula fermentum ex pulvinar euismod non eget dolor. Suspendisse potenti.</p>
				<p><a href="#" class="btn btn-midnight">Midnight Button</a></p>
			</div>
			
			<div class="col-12 col-md-5">
				<p><img class="img-fluid" src="/assets/uploads/images/john-matychuk-gUK3lA3K7Yo-unsplash.jpg" alt="placeholder" /></p>
				<h3>Column Heading</h3>
				<p>Pellentesque vulputate porttitor tellus, venenatis varius dolor sodales fringilla. Quisque vestibulum ligula fermentum ex pulvinar euismod non eget dolor. Suspendisse potenti.</p>
				<p><a href="#" class="btn btn-white">White Button</a></p>
			</div>
		</div>
	</div>
</section>



<!-- IMAGE -->
<section class="c-general">
	<div class="container">
		<h2 class="text-center">Example Image</h2>
		<img class="img-fluid" src="/assets/uploads/images/magnus-lunay-LHR6tUw8N34-unsplash.jpg" alt="placeholder" />
	</div>
</section>


<!-- IMAGE CAROUSEL -->
<section class="c-general c-general--midnight">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2">
				<h2 class="text-center mb-5">Example Image Carousel</h2>
				
				<div id="carousel-2">
					<img class="img-fluid" src="/assets/uploads/images/israel-palacio-Y20JJ_ddy9M-unsplash.jpg" alt="" />
					<img class="img-fluid" src="/assets/uploads/images/john-matychuk-gUK3lA3K7Yo-unsplash.jpg" alt="" />
					<img class="img-fluid" src="/assets/uploads/images/magnus-lunay-LHR6tUw8N34-unsplash.jpg" alt="" />
				</div>
			</div>
		</div>
	</div>
</section>


<!-- BLOCKQUOTE -->
<section class="c-general c-general--silver">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2">
				<blockquote class="blockquote">
					<p>Example blockquote. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porta massa vitae viverra ultrices. Morbi ac risus vel orci interdum viverra quis id eros.</p>
					<footer class="blockquote-footer">Firstname Lastname</footer>
				</blockquote>
			</div>
		</div>
	</div>
</section>



<!-- TESTIMONIALS CAROUSEL -->
<section id="testimonials" class="c-general c-general--pewter">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2">
				<h2 class="text-center mb-5">Client Testimonials</h2>
				
				<div id="carousel-1">
					<blockquote class="blockquote">
						<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porta massa vitae viverra ultrices. Morbi ac risus vel orci interdum viverra quis id eros. Mauris mauris mi, dictum sed est eu, consequat interdum lorem. Mauris vestibulum, nisi a elementum laoreet, enim quam cursus mi, quis lacinia diam ligula ut.”</p>
						<footer class="blockquote-footer">
							Nathan Smith<br />
							Austin Tenant Advisors<br />
							Austin, TX
						</footer>
					</blockquote>
					
					<blockquote class="blockquote">
						<p>“Mauris vestibulum, nisi a elementum laoreet, enim quam cursus mi, quis lacinia diam ligula ut leo. Sed quam enim, hendrerit ut sem quis, semper pharetra odio. Nunc vel pellentesque velit, vitae lacinia lacus.”</p>
						<footer class="blockquote-footer">
							Mark and Karla Caddell<br />
							Austin, TX
						</footer>
					</blockquote>
					
					<blockquote class="blockquote">
						<p>“Pellentesque vulputate porttitor tellus, venenatis varius dolor sodales fringilla. Quisque vestibulum ligula fermentum ex pulvinar euismod non eget dolor. Suspendisse potenti. Nullam et lacinia dolor.”</p>
						<footer class="blockquote-footer">
							Chris Rowe<br />
							Austin, TX
						</footer>
					</blockquote>
					
					<blockquote class="blockquote">
						<p>“Curabitur id enim eget eros faucibus ornare a sed magna. Donec et arcu arcu. Nullam accumsan consequat felis tempor lobortis. Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea dictumst.”</p>
						<footer class="blockquote-footer">
							Kerry O’Brien, Esq.<br />
							O’Brien Law Firm P.C.<br />
							Austin, Texas
						</footer>
					</blockquote>
				</div>
			</div>
		</div>
	</div>
</section>


</main>

@@include('_footer.html')

@@include('_blueimp-gallery-controls.html')

<!-- INIT HERO CAROUSEL -->
<script>
jQuery(document).ready(function($) {
	$('#js-hero-carousel').slick({
		accessibility: true,
		autoplay: true,
		autoplaySpeed: 4000,
		draggable: false
	});
});
</script>


<!-- TESTIMONIALS CAROUSEL INIT -->
<script>
jQuery(document).ready(function($) {
	$('#carousel-1').slick({
		accessibility: true,
		arrows: true,
		dots: true,
		autoplay: true,
		autoplaySpeed: 4000,
		draggable: true
	});
});
</script>


<!-- IMAGE CAROUSEL INIT -->
<script>
jQuery(document).ready(function($) {
	$('#carousel-2').slick({
		accessibility: true,
		arrows: true,
		dots: true,
		autoplay: true,
		autoplaySpeed: 4000,
		draggable: true
	});
});
</script>


</body>
</html>