{% set pages = craft.entries.section('pages') %}
{% set work  = craft.entries.section('work') %}
<!-- TOP BAR -->
<div class="c-topbar">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="c-topbar__branding">
					<a href="{{ siteUrl }}"><img class="c-topbar__logo" src="/assets/img/logo-white.svg" alt="Heinley Projects" /></a>
				</div>
				
				<ul class="c-topbar__nav">
					{% if work | length %}<li><a href="{{ url('work') }}">Work</a></li>{% endif %}
					{% for page in pages.all() %}
					<li><a href="{{ page.url }}">{{ page.title }}</a></li>
					{% endfor %}
					<li>
						<a href="#search" class="js-toggle-search" aria-role="button" aria-label="search">
							<span class="far fa-search" aria-hidden="true"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<!-- SEARCH BAR -->
	<div id="search" class="c-topbar__search">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<form>
						<label for="search-input" class="sr-only">Search</label>
						<input id="search-input" type="search" />
						<button type="submit">
							<span id="button-label" hidden>search</span>
							<span class="far fa-search" aria-hidden="true" focusable="false"></span>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
