/**
 * DEFINITION
 */
@include component('definition') {
	
	@include element('term') {
		color: $color-blue;
		
		& > div {
			@extend %first-last-child;
		}
		
		@include respond-above(md) {
			border-left: 1px solid $color-blue;
			border-right: 1px solid $color-body-text;
			padding-left: $gutter;
			padding-right: $gutter;
			height: 100%;
			@include vertically-centered;
		}
	}
	
	@include element('description') {
		@include respond-above(md) {
			padding-left: $gutter;
		}
	}
}