/**
 * FIGURE
 */
@include component('figure') {
	position: relative;
	display: block;
	width: 100%;
	margin-bottom: 0;//$gutter;
	
	img {
		position: relative;
		display: block;
		width: 100%;
		height: auto;
	}
	
	figcaption {
		@include base-font;
		font-size: 75%;
		color: rgba($color-body-text, .5);
	}
	
	@include modifier('right') {
		@include respond-above(sm) {
			float: right;
			width: 33%;
			margin-left: $gutter;
		}
	}
	
	@include modifier('left') {
		@include respond-above(sm) {
			float: left;
			width: 33%;
			margin-right: $gutter;
		}
	}
	
	@include modifier('center') {
		text-align: center;
		width: 100%;
		margin-bottom: $gutter;
		
		img {
			width: auto;
			max-width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
	}
	
	
	@include modifier('full') {
		margin-bottom: $gutter;
		
		.container > & {
			@include respond-above(sm) {
				margin-top: $gutter*2;
				margin-bottom: $gutter*2;
			}
			@include respond-below(sm) {
				margin-top: $gutter;
				margin-bottom: $gutter;
			}
		}
	}
}