/**
 * GENERAL
 */
@include component('general') {
	position: relative;
	@extend %block-padding;
	
	[class*="col-"] {
		img {
			margin-left: auto;
			margin-right: auto;
		}
	}
	
	@include modifier('no-padding-bottom') {
		@include respond-above(sm) {
			padding-bottom: 0;
		}
		@include respond-below(sm) {
			padding-bottom: 0;
		}
	}
	
	@include modifier('no-padding-top') {
		@include respond-above(sm) {
			padding-top: 0;
		}
		@include respond-below(sm) {
			padding-top: 0;
		}
	}
	
	@include element('content') {
		@extend %first-last-child;
	}
	
	//
	// TEXT COLORS
	//
	@include modifier('text-white') {
		color: white;
		
		h1, h2, h3, h4, .u-section-heading {
			color: white;
		}
	}
	@include modifier('text-blue') {
		color: $color-blue;
		
		h1, h2, h3, h4, .u-section-heading {
			color: $color-blue;
		}
	}
	@include modifier('text-gray') {
		color: theme-color('gray');
		
		h1, h2, h3, h4, .u-section-heading {
			color: theme-color('gray');
		}
	}
	@include modifier('text-gray-light') {
		color: theme-color('gray-light');
		
		h1, h2, h3, h4, .u-section-heading {
			color: theme-color('gray-light');
		}
	}
	@include modifier('text-gray-dark') {
		color: theme-color('gray-dark');
		
		h1, h2, h3, h4, .u-section-heading {
			color: theme-color('gray-dark');
		}
	}
	@include modifier('text-black') {
		color: $color-black;
		
		h1, h2, h3, h4, .u-section-heading {
			color: $color-black;
		}
	}
	@include modifier('text-navy') {
		color: $color-navy;
		
		h1, h2, h3, h4, .u-section-heading {
			color: $color-navy;
		}
	}
	@include modifier('text-midnight') {
		color: $color-midnight;
		
		h1, h2, h3, h4, .u-section-heading {
			color: $color-midnight;
		}
	}
	
	
	// BACKGROUND COLORS --------------------
	@include modifier('silver') {
		background-color: $color-silver;
	}
	@include modifier('white') {
		background-color: $color-white;
	}
	@include modifier('gray') {
		background-color: $color-gray;
		color: $color-white;
		
		h1, h2, h3, h4, h5, p, li, blockquote, cite, 
		.u-section-heading,
		.blockquote-footer {
			color: $color-white;
		}
	}
	@include modifier('gray-light') {
		background-color: $color-gray-light;
	}
	@include modifier('gray-dark') {
		background-color: $color-gray-dark;
	}
	@include modifier('black') {
		background-color: $color-black;
	}
	
	@include modifier('primary') {
		background-color: theme-color('primary');
		color: $color-white;
		
		h1, h2, h3, h4, h5, p, li, blockquote, cite, a,
		.u-section-heading,
		.blockquote-footer {
			color: $color-white;
		}
	}
	@include modifier('secondary') {
		background-color: theme-color('secondary');
		color: $color-white;
		
		h1, h2, h3, h4, h5, p, li, blockquote, cite, a,
		.u-section-heading,
		.blockquote-footer {
			color: $color-white;
		}
	}
	@include modifier('blue') {
		background-color: $color-blue;
		color: $color-white;
		
		h1, h2, h3, h4, h5, p, li, blockquote, cite, a,
		.u-section-heading,
		.blockquote-footer {
			color: $color-white;
		}
	}
	@include modifier('navy') {
		background-color: $color-navy;
		color: $color-white;
		
		h1, h2, h3, h4, h5, p, li, blockquote, cite, a,
		.u-section-heading,
		.blockquote-footer {
			color: $color-white;
		}
	}
	@include modifier('midnight') {
		background-color: $color-midnight;
		color: $color-white;
		
		h1, h2, h3, h4, h5, p, li, blockquote, cite, a,
		.u-section-heading,
		.blockquote-footer {
			color: $color-white;
		}
	}
	@include modifier('pewter') {
		background-color: $color-pewter;
		color: $color-white;
		
		h1, h2, h3, h4, h5, p, li, blockquote, cite, a,
		.u-section-heading,
		.blockquote-footer {
			color: $color-white;
		}
	}
}