/**
 * TOP BAR
 */

/*
body {
	@include respond-below(sm) {
		padding-top: $topbar-height-mobile;
	}
	@include respond-above(sm) {
		padding-top: $topbar-height-desktop;
	}
}
*/

@include component('topbar') {
	$menu-font-size: 16px;
	$menu-bar-height: $topbar-height-desktop;
	$menu-bar-padding: 10px;
	$dropdown-width: 250px;
	$color-nav-dropdown: white;
	
	display: block;
	width: 100%;
	padding: 0;

	
	// --------------------------
	// ABSOLUTE POSITIONED TOPBAR
	// --------------------------
	// stays with hero unit when scrolling up
	//
	
	//@include animate;
	
	/*
	@include respond-above(md) {
		top: -$topbar-height-desktop;
		
		body.is-scrolled & {
			top: -$topbar-height-desktop;
		}
		body.is-top &,
		body.is-scrolled-up & {
			top: 0;
		}
		
		body.is-scrolled.is-scrolled-up & {
			background-color: $color-green;
		}
	}
	
	body.is-top:not(.has-page-header) & {
		background-color: $color-green;
	}
	*/
	
		
	@include respond-above(md) {
		position: relative;
		display: block;
		background-color: $color-green;
		
		& > .container,
		& > .container .row,
		& > .container .col {
			position: relative;
			height: $topbar-height-desktop;
		}
		
		body.has-page-header & {
			position: absolute;
			top:0;
			left: 0;
			right: 0;
			@include z-very-top;
			background-color: transparent;
		}
	}
	@include respond-below(md) {
		position: relative;
		padding-top: $gutter/2;
		padding-bottom: $gutter/4;
		text-align: center;
		background-color: $color-pink;
	}
	
	
	
	@include element('branding') {
		@include respond-above(md) {
			position: absolute;
			display: block;
			left: $gutter*.75;
			top: 50%;
			transform: translate(0, -50%);
			height: $topbar-height-desktop * .4;
			
			img {
				height: $topbar-height-desktop * .4;
				width: auto;
			}
		}
		
		@include respond-below(md) {
			position: relative;
			display: block;
			text-align: center;
			height: 40px;
			margin-bottom: $gutter/2;
			
			a {
				display: inline-block;
				margin-left: auto;
				margin-right: auto;
			}
			
			img {
				height: 40px;
				width: auto;
			}
		}
	}
	
	@include element('logo') {
		position: relative;
		max-height: 100%;
		width: auto;
	}
	
	/*
	@include element('hamburger') {
		display: none;
		position: absolute;
		right: $gutter;
		top: 50%;
		transform: translate(0, -50%);
		
		@include respond-below(md) {
			display: block;
			top: 55%;
			
			.hamburger-box {
				width: 30px;
				height: 20px;
			}
			
			.hamburger-inner {
				&,
			  &::before,
			  &::after {
			    width: 30px;
			  }
			  
			  &::before {
			    top: ($hamburger-layer-spacing/2 + $hamburger-layer-height) * -1;
			  }
			
			  &::after {
			    bottom: ($hamburger-layer-spacing/2 + $hamburger-layer-height) * -1;
			  }
			}
		}
		
		.hamburger-inner {
			&,
		  &::before,
		  &::after {
		    background-color: white;
		  }
		}
	}
	*/
	
	//
	// NAV MENU
	//
	@include element('nav') {
		display: block;
		list-style-type: none;
		margin: 0;
		padding: 0;
			
		li {
			position: relative;
			display: inline-block;
			margin: 0;
			padding: 0;
			
			&:not(:last-of-type) {
				margin-right: 1em;
			}
			
			a {
				position: relative;
				display: block;
				//@include font-heading;
				//text-transform: uppercase;
				@include base-font-bold;
				text-decoration: none;
				color: white;
				@include animate;
				opacity: .85;
				
				&:before {
					content: "";
					position: absolute;
					display: block;
					top: 0;
					right: 100%;
					bottom: .2em;
					left: -.2em;
					transform: rotate(-.75deg);
					transform-origin: center;
					background-color: $color-green-light;
					@include animate;
					opacity: 0;
					z-index: -1;
				}
				
				&:hover {
					opacity: 1;
					text-decoration: none;
					
					&:before {
						right: -.2em;
						opacity: 1;
					}
				}
			}
		}
		
		@include respond-above(md) {
			position: absolute;
			top: 50%;
			right: $gutter;
			transform: translate(0, -50%);
		}
		@include respond-below(sm) {
			position: relative;
			margin-left: auto;
			margin-right: auto;
		}
	}
	
	
	//
	// SEARCH BAR
	//
	@include element('search') {
		// display toggled with javascript
		display: none;
		
		form {
			position: relative;
			display: block;
			width: 100%;
			margin: 0;
			padding: 0;
		}
		
		input[type="search"] {
			border: none;
			background-image: none;
			background-color: transparent;
			box-shadow: none;
			
			position: relative;
			display: block;
			width: 100%;
			height: 40px;
			line-height: 40px;
			color: white;
			margin: 0;
			padding-left: 40px;
			padding-right: 40px;
			
			&:focus {
				outline: none;
			}
			
			&::placeholder {
				color: rgba(white, .5);
			}
		}
		
		button[type="submit"] {
			@extend %reset-button;
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			bottom: 0;
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			color: white;
			
			.fa-search {
				transform: translate(0, .15em);
			}
		}
		
		@include respond-above(md) {
			position: relative;
			width: 100%;
			color: white;
			background-color: darken($color-green, 10%);
			
			body.has-page-header & {
				position: absolute;
				top: $topbar-height-desktop;
				right: 0;
				left: 0;
				@include z-very-top;
				background-color: transparent;
			}
		}
		
		@include respond-below(md) {
			
		}
	}
	
	@include element('search-close') {
		@extend %reset-button;
		position: absolute;
		top: 50%;
		right: $gutter/2;
		transform: translate(0, -50%);
		width: 40px;
		height: 40px;
		line-height: 36px;
		text-align: center;
		
		.fa-times {
			transform: translate(0, .15em);
		}
	}
}