/**
 * UTILITIES
 */

//
// TEXT COLORS
//
@include utility('color-white') {
	color: white !important;
}
@include utility('color-blue') {
	color: theme-color('blue') !important;
}
@include utility('color-blue-light') {
	color: theme-color('blue-light') !important;
}
@include utility('color-navy') {
	color: theme-color('navy') !important;
}
@include utility('color-sand') {
	color: theme-color('sand') !important;
}
@include utility('color-taupe') {
	color: theme-color('taupe') !important;
}
@include utility('color-silver') {
	color: theme-color('silver') !important;
}
@include utility('color-gray') {
	color: theme-color('gray') !important;
}
@include utility('color-gray-light') {
	color: theme-color('gray-light') !important;
}


@include utility('section-heading') {
	position: relative;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: $gutter/2;
	padding-bottom: $gutter/2;
	border-top: 2px solid $color-body-text;
	border-bottom: 2px solid $color-body-text;
	
	small {
		display: block;
		@include font-heading;
		font-size: 40%;
		letter-spacing: .5em;
	}
}

@include utility('hr') {
	border-top: 1px solid theme-color('gray-light');
	max-width: 850px;
	margin-left: auto;
	margin-right: auto;
}
@include utility('hr-wide') {
	border-top: 1px solid theme-color('gray-light');
}