/**
 * UTILITIES
 */

//
// TEXT COLORS
//
@include utility('color-white') {
	color: white !important;
}
@include utility('color-green') {
	color: $color-green !important;
}
@include utility('color-green-light') {
	color: $color-green-light !important;
}
@include utility('color-peach') {
	color: $color-peach !important;
}
@include utility('color-pink') {
	color: $color-pink !important;
}
@include utility('color-black') {
	color: $color-black !important;
}
@include utility('color-silver') {
	color: $color-silver !important;
}
@include utility('color-gray') {
	color: $color-gray !important;
}
@include utility('color-gray-light') {
	color: $color-gray-light !important;
}
@include utility('color-gray-dark') {
	color: $color-gray-dark !important;
}

//
// FONT UTILITIES
//
@include utility('base-font') {
	@include base-font;
}
@include utility('base-font-bold') {
	@include base-font-bold;
}
@include utility('base-font-italic') {
	@include base-font-italic;
}
@include utility('base-font-bold-italic') {
	@include base-font-bold-italic;
}
@include utility('font-heading') {
	@include font-heading;
}
@include utility('font-heading-condensed') {
	@include font-heading-condensed;
}


@include utility('section-heading') {
	position: relative;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: $gutter/2;
	padding-bottom: $gutter/2;
	border-top: 2px solid $color-body-text;
	border-bottom: 2px solid $color-body-text;
	
	small {
		display: block;
		@include font-heading;
		font-size: 40%;
		letter-spacing: .5em;
	}
}

@include utility('hr') {
	border-top: 1px solid theme-color('gray-light');
	max-width: 850px;
	margin-left: auto;
	margin-right: auto;
}
@include utility('hr-wide') {
	border-top: 1px solid theme-color('gray-light');
}